CodingArea/CodingArea.csproj
CodingArea/Program.cs
CodingArea/bin/Debug/net6.0/CodingArea.deps.json
CodingArea/bin/Debug/net6.0/CodingArea.dll
CodingArea/bin/Debug/net6.0/CodingArea.exe
CodingArea/bin/Debug/net6.0/CodingArea.pdb
CodingArea/bin/Debug/net6.0/CodingArea.runtimeconfig.json
CodingArea/obj/CodingArea.csproj.nuget.dgspec.json
CodingArea/obj/CodingArea.csproj.nuget.g.props
CodingArea/obj/CodingArea.csproj.nuget.g.targets
CodingArea/obj/project.assets.json
CodingArea/obj/project.nuget.cache
CodingArea/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CodingArea/obj/Debug/net6.0/apphost.exe
CodingArea/obj/Debug/net6.0/CodingArea.AssemblyInfo.cs
CodingArea/obj/Debug/net6.0/CodingArea.AssemblyInfoInputs.cache
CodingArea/obj/Debug/net6.0/CodingArea.assets.cache
CodingArea/obj/Debug/net6.0/CodingArea.csproj.AssemblyReference.cache
CodingArea/obj/Debug/net6.0/CodingArea.csproj.CoreCompileInputs.cache
CodingArea/obj/Debug/net6.0/CodingArea.csproj.FileListAbsolute.txt
CodingArea/obj/Debug/net6.0/CodingArea.dll
CodingArea/obj/Debug/net6.0/CodingArea.GeneratedMSBuildEditorConfig.editorconfig
CodingArea/obj/Debug/net6.0/CodingArea.genruntimeconfig.cache
CodingArea/obj/Debug/net6.0/CodingArea.GlobalUsings.g.cs
CodingArea/obj/Debug/net6.0/CodingArea.pdb
CodingArea/obj/Debug/net6.0/ref/CodingArea.dll
CodingArea/obj/Debug/net6.0/refint/CodingArea.dll
