Proj/Program.cs
Proj/Proj.csproj
Proj/bin/Debug/net6.0/Proj.deps.json
Proj/bin/Debug/net6.0/Proj.dll
Proj/bin/Debug/net6.0/Proj.exe
Proj/bin/Debug/net6.0/Proj.pdb
Proj/bin/Debug/net6.0/Proj.runtimeconfig.json
Proj/obj/Proj.csproj.nuget.dgspec.json
Proj/obj/Proj.csproj.nuget.g.props
Proj/obj/Proj.csproj.nuget.g.targets
Proj/obj/project.assets.json
Proj/obj/project.nuget.cache
Proj/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Proj/obj/Debug/net6.0/apphost.exe
Proj/obj/Debug/net6.0/Proj.AssemblyInfo.cs
Proj/obj/Debug/net6.0/Proj.AssemblyInfoInputs.cache
Proj/obj/Debug/net6.0/Proj.assets.cache
Proj/obj/Debug/net6.0/Proj.csproj.AssemblyReference.cache
Proj/obj/Debug/net6.0/Proj.csproj.CoreCompileInputs.cache
Proj/obj/Debug/net6.0/Proj.csproj.FileListAbsolute.txt
Proj/obj/Debug/net6.0/Proj.dll
Proj/obj/Debug/net6.0/Proj.GeneratedMSBuildEditorConfig.editorconfig
Proj/obj/Debug/net6.0/Proj.genruntimeconfig.cache
Proj/obj/Debug/net6.0/Proj.GlobalUsings.g.cs
Proj/obj/Debug/net6.0/Proj.pdb
Proj/obj/Debug/net6.0/ref/Proj.dll
Proj/obj/Debug/net6.0/refint/Proj.dll
