CodingArea/CodingArea.csproj
CodingArea/bin/Debug/net6.0/CodingArea.deps.json
CodingArea/bin/Debug/net6.0/CodingArea.dll
CodingArea/bin/Debug/net6.0/CodingArea.exe
CodingArea/bin/Debug/net6.0/CodingArea.pdb
CodingArea/bin/Debug/net6.0/CodingArea.runtimeconfig.json
CodingArea/obj/CodingArea.csproj.nuget.dgspec.json
CodingArea/obj/CodingArea.csproj.nuget.g.props
CodingArea/obj/CodingArea.csproj.nuget.g.targets
CodingArea/obj/project.assets.json
CodingArea/obj/project.nuget.cache
CodingArea/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CodingArea/obj/Debug/net6.0/apphost.exe
CodingArea/obj/Debug/net6.0/CodingArea.AssemblyInfo.cs
CodingArea/obj/Debug/net6.0/CodingArea.AssemblyInfoInputs.cache
CodingArea/obj/Debug/net6.0/CodingArea.assets.cache
CodingArea/obj/Debug/net6.0/CodingArea.csproj.AssemblyReference.cache
CodingArea/obj/Debug/net6.0/CodingArea.csproj.CoreCompileInputs.cache
CodingArea/obj/Debug/net6.0/CodingArea.csproj.FileListAbsolute.txt
CodingArea/obj/Debug/net6.0/CodingArea.dll
CodingArea/obj/Debug/net6.0/CodingArea.GeneratedMSBuildEditorConfig.editorconfig
CodingArea/obj/Debug/net6.0/CodingArea.genruntimeconfig.cache
CodingArea/obj/Debug/net6.0/CodingArea.GlobalUsings.g.cs
CodingArea/obj/Debug/net6.0/CodingArea.pdb
CodingArea/obj/Debug/net6.0/ref/CodingArea.dll
CodingArea/obj/Debug/net6.0/refint/CodingArea.dll
CodingArea/CodingArea.cs
CodingArea/.vs/ProjectSettings.json
CodingArea/.vs/slnx.sqlite
CodingArea/.vs/CodingArea/FileContentIndex/768824a5-28d1-4bab-a6e6-26f32f037c1d.vsidx
CodingArea/.vs/CodingArea/FileContentIndex/d898ddc1-f999-47b4-b719-8a485359832b.vsidx
CodingArea/.vs/CodingArea/FileContentIndex/read.lock
CodingArea/.vs/CodingArea/v17/.suo
CodingArea/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CodingArea/obj/Release/net6.0/CodingArea.AssemblyInfo.cs
CodingArea/obj/Release/net6.0/CodingArea.AssemblyInfoInputs.cache
CodingArea/obj/Release/net6.0/CodingArea.assets.cache
CodingArea/obj/Release/net6.0/CodingArea.csproj.AssemblyReference.cache
CodingArea/obj/Release/net6.0/CodingArea.GeneratedMSBuildEditorConfig.editorconfig
CodingArea/obj/Release/net6.0/CodingArea.GlobalUsings.g.cs
Testing/Testing.cs
Testing/Testing.csproj
Testing/bin/Debug/net6.0/Testing.deps.json
Testing/bin/Debug/net6.0/Testing.dll
Testing/bin/Debug/net6.0/Testing.exe
Testing/bin/Debug/net6.0/Testing.pdb
Testing/bin/Debug/net6.0/Testing.runtimeconfig.json
Testing/obj/project.assets.json
Testing/obj/project.nuget.cache
Testing/obj/Testing.csproj.nuget.dgspec.json
Testing/obj/Testing.csproj.nuget.g.props
Testing/obj/Testing.csproj.nuget.g.targets
Testing/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Testing/obj/Debug/net6.0/apphost.exe
Testing/obj/Debug/net6.0/Testing.AssemblyInfo.cs
Testing/obj/Debug/net6.0/Testing.AssemblyInfoInputs.cache
Testing/obj/Debug/net6.0/Testing.assets.cache
Testing/obj/Debug/net6.0/Testing.csproj.AssemblyReference.cache
Testing/obj/Debug/net6.0/Testing.csproj.CoreCompileInputs.cache
Testing/obj/Debug/net6.0/Testing.csproj.FileListAbsolute.txt
Testing/obj/Debug/net6.0/Testing.dll
Testing/obj/Debug/net6.0/Testing.GeneratedMSBuildEditorConfig.editorconfig
Testing/obj/Debug/net6.0/Testing.genruntimeconfig.cache
Testing/obj/Debug/net6.0/Testing.GlobalUsings.g.cs
Testing/obj/Debug/net6.0/Testing.pdb
Testing/obj/Debug/net6.0/ref/Testing.dll
Testing/obj/Debug/net6.0/refint/Testing.dll
.vscode/launch.json
.vscode/tasks.json
CodingArea/.vs/VSWorkspaceState.json
CodingArea/.vs/CodingArea/FileContentIndex/85249e90-aec5-4dd8-8713-811756ff8bed.vsidx
Testing/.vs/ProjectSettings.json
Testing/.vs/slnx.sqlite
Testing/.vs/Testing/FileContentIndex/771b5dd9-5c94-4365-8e94-7a7e97a05946.vsidx
Testing/.vs/Testing/FileContentIndex/read.lock
Testing/.vs/Testing/v17/.suo
Testing/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Testing/obj/Release/net6.0/Testing.AssemblyInfo.cs
Testing/obj/Release/net6.0/Testing.AssemblyInfoInputs.cache
Testing/obj/Release/net6.0/Testing.assets.cache
Testing/obj/Release/net6.0/Testing.csproj.AssemblyReference.cache
Testing/obj/Release/net6.0/Testing.GeneratedMSBuildEditorConfig.editorconfig
Testing/obj/Release/net6.0/Testing.GlobalUsings.g.cs
Testing/.vs/Testing/FileContentIndex/1a68efd3-95a1-4a9c-bdad-fc13c9a8ff4b.vsidx
Testing/.vs/VSWorkspaceState.json
Testing/.vs/Testing/FileContentIndex/6ad8c798-e4be-4090-a1ec-74c593447dd1.vsidx
